@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Satisfy');
page-home {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.5em;
          width: 100%;
          font-weight: bold;
          color: rgb(255, 255, 255);
          font-family: 'Mr Dafoe', cursive;
        }
      
        .card-subtitle {
          font-size: 1.5em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: rgb(255, 255, 255);
          font-family: 'Mr Dafoe', cursive;

        }
      
      }
      ion-content{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url("../../assets/imgs/agil_login2fundo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    ion-card{
      background-color: rgba(255, 254, 254, 0) !important;
    }
 ion-card img{
   opacity:0.85;
 }
}
